APP_URL=https://mgt581.github.io/on-track-app
STRIPE_PRICE_DUO=price_replace_with_2_account_monthly_price
STRIPE_PRICE_TEAM5=price_replace_with_5_account_monthly_price
STRIPE_PRICE_TEAM10=price_replace_with_10_account_monthly_price
